# vim: ft=zsh



{{- include "private_dot_secrets/zshrc" -}}

# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=99999999
setopt beep extendedglob nomatch
unsetopt notify
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/pavel/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# SSH agnet
function start_agent {
  echo '' > "$HOME/.ssh/environment"
  chmod 600 "$HOME/.ssh/environment"
  ssh-agent >> "$HOME/.ssh/environment"
  source "$HOME/.ssh/environment" > /dev/null
  echo "The SSH agent runs as ${SSH_AGENT_PID} ."
  ssh-add
}

# SSH Agent
if [ -f "$HOME/.ssh/environment" ]; then
  source "$HOME/.ssh/environment" > /dev/null
  if ! ps -p "$SSH_AGENT_PID" > /dev/null; then
    echo "Process ${SSH_AGENT_PID} is dead."
    start_agent
  else
    echo "The SSH agent runs as ${SSH_AGENT_PID} ."
  fi
else
  echo "File $HOME/.ssh/environment does not exist yet."
  start_agent
fi

# NeoVim
if command -v nvim &> /dev/null; then
  export EDITOR="nvim"
  alias vim='nvim'
elif command -v vim &> /dev/null; then
  export EDITOR="vim"
else
  echo "Install NeoVim or Vim\!"
fi

eval "$(sheldon source)"
eval "$(zoxide init zsh)"

if command -v z &> /dev/null; then alias cd='z'; fi
if command -v git &> /dev/null; then alias g='git'; fi
if command -v bat &> /dev/null; then alias cat='bat -p'; fi

alias g='git'
alias k=kubectl
alias mosh='MOSH_TITLE_NOPREFIX=true mosh'
alias mtr='sudo mtr'

command -v motd &> /dev/null && motd

