Host hom
	Hostname hom.pdostal.cz
	User quick
	KeepAlive yes
	Compression yes

Host shark
	Hostname shark.pdostal.cz
	User quick
	KeepAlive yes
	ServerAliveInterval 15
	ServerAliveCountMax 720
	Compression yes

Host monka
	Hostname monka.hysteria.cz
	User quick
	KeepAlive yes
	Compression yes
