KeepAlive yes
Compression yes
ControlMaster auto
VerifyHostKeyDNS yes
ControlPath /tmp/ssh_%r@%h:%p
ControlPersist 86400
PreferredAuthentications gssapi-with-mic,hostbased,publickey,keyboard-interactive,password
VisualHostKey no
ServerAliveInterval 5
ServerAliveCountMax 12
ForwardAgent no
LogLevel INFO
AddKeysToAgent yes
SendEnv LANG LC_*
User pdostal
IdentityFile ~/.ssh/id_ed25519

{{-   include "private_dot_ssh/ssh.secret" -}}
